.loginPage {
   display: grid;
    grid-template-columns: 100px auto auto auto;
    grid-template-rows: auto auto auto auto auto ;

}
.dictionary{

}
.loginForm{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:5 ;

    display: flex;
    flex-direction: column;
}
.loginForm *{
    margin:0 0 5px 5px ;
}
