.loginPage {
   display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto ;

}
.dictionary{

}
.loginForm{

    grid-row-start: 2;
    grid-row-end:5 ;
    display: flex;
    flex-direction: column;
}
.loginForm *{
    margin:0 0 5px 5px ;
}
.loginContainer{
    display: block;
    margin-right: auto;
    margin-left: auto;

}
