
.flag-icon-us{
    max-width:25px;
    max-height:30px;
    display: inherit;
    float: inside;
}
.flagContainer{
    float: right;
    justify-items: auto;
    align-self: end;
}
.flagButton{
    cursor: pointer;
    padding-top: 4px;
    margin: 1px ;
    border-width: 0;
    max-width: 60px;
    max-height: 60px;
}
.flagButton:hover{
    background: rgba(255, 0, 72, 0.6);
}
.inputContainer{

    flex-direction: row;
    flex: auto;
}
.flagButton:active{
    background: rgba(255, 0, 8, 0.6);
}
